.container
  .row
    .navbar.navbar-default
      .navbar-header
        a.navbar-brand(href="javascript:void(0);") Movist
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") 首页
          li
            a(href="/movie/new") 添加新电影
          if user && user.role === 1
            li
              a(href="/admin/movielist?p=1") 所有电影列表
            li
              a(href="/user/list?p=1") 用户列表
            li
              a(href="/admin/category/list") 电影类型管理
        if user
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href="/u/#{user.username}") 欢迎您,#{user.username}
            li
              a(href="/logout") 登出
        else
          //- form.navbar-form.navbar-right(method="post",action="/user/signin")
          //-   .form-group
          //-     input.form-control(type="text",name="username",placeholder="Username")
          //-   .form-group
          //-     input.form-control(type="password",name="password",placeholder="Password")
          //-   button.btn.btn-primary(type="submit") 登录
          ul.nav.navbar-nav.navbar-right
            li
              a(href="javascript:void(0)",data-toggle="modal",data-target="#signinModal") 登录
            li
              a(href="javascript:void(0)",data-toggle="modal",data-target="#signupModal") 注册
          //- button.btn.btn-primary.navbar-right(type="button",data-toggle="modal",data-target="#signinModal") 登陆
          //- button.btn.btn-primary.navbar-right(type="button",data-toggle="modal",data-target="#signupModal") 注册
    h1= title
    form(method="get",action="/results",style="top:-50px;position:relative")
      .input-group.col-sm-4.pull-right
        input.form-control(type="text",name="q",placeholder='请输入搜索电影关键词')
        span.input-group-btn
          button.btn.btn-primary(type="submit") 搜索

#signupModal.modal
  .modal-dialog(style="width:300px")
    .modal-content
      form(method="post",action="/user/signup")
        .modal-header  
          a.close(href="#",data-dismiss='modal') x
          h4 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名 
            input#signupName.form-control(name="username",type="text")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="password",type="password")
          .form-group
            label(for="signupRePassword") 确认密码
            input#signupRePassword.form-control(name="rePassword",type="password")
          .alert.alert-block.alert-danger(style='display:none;')
        .modal-footer
          button.btn(type="button",data-dismiss="modal") 关闭
          button#signupbtn.btn.btn-primary(type="button") 注册

#signinModal.modal
  .modal-dialog(style="width:300px")
    .modal-content
      form(method="post",action="/user/signin")
        .modal-header  
          a.close(href="#",data-dismiss='modal') x
          h4 登陆
        .modal-body
          .form-group
            label(for="signinName") 用户名 
            input#signinName.form-control(name="username",type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(name="password",type="password")
          .alert.alert-block.alert-danger(style='display:none;')
        .modal-footer
          button.btn(type="button",data-dismiss="modal") 关闭
          button#signinbtn.btn.btn-primary(type="button") 登录






