.container
  .row
    .navbar.navbar-default
      .navbar-header
        a.navbar-brand(href="javascript:void(0);") Movist
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") 首页
          li
            a(href="/movie/new") 添加新电影
          if user && user.role === 2
            li
              a(href="/user/order?uId=#{user._id}") 我的订阅
              if user.orderMovies && user.orderMovies.length >0
                .red-point
          if user && user.role === 1
            li
              a(href="/admin/movielist?p=1") 所有电影列表
            li
              a(href="/user/list?p=1") 用户列表
            li
              a(href="/admin/category/list") 电影类型管理
        if user
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href="jaavascript:void(0)",data-toggle="dropdown",role="button") 欢迎您,#{user.username}
                span.caret
              ul.dropdown-menu(role="menu")
                li(role="presentation")
                  a(role="menuitem",tabindex="-1",href="/u/#{user.username}") 用户设置
                li.divider
                li(role="presentation")
                  a.logout(role="menuitem",tabindex="-1",href="#") 登出
        else
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#",data-toggle="modal",data-target="#signinModal") 登录
            li
              a(href="#",data-toggle="modal",data-target="#signupModal") 注册
    h1= title
    br

#signupModal.modal
  .modal-dialog(style="width:300px")
    .modal-content
      form(method="post",action="/user/signup")
        .modal-header  
          a.close(href="#",data-dismiss='modal') x
          h4 注册
        .modal-body
          .form-group
            label(for="signupName") 用户名 
            input#signupName.form-control(name="username",type="text")
          .form-group
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="password",type="password")
          .form-group
            label(for="signupRePassword") 确认密码
            input#signupRePassword.form-control(name="rePassword",type="password")
          .alert.alert-block.alert-danger(style='display:none;')
        .modal-footer
          button.btn(type="button",data-dismiss="modal") 关闭
          button#signupbtn.btn.btn-primary(type="button") 注册

#signinModal.modal
  .modal-dialog(style="width:300px")
    .modal-content
      form(method="post",action="/user/signin")
        .modal-header  
          a.close(href="#",data-dismiss='modal') x
          h4 登陆
        .modal-body
          .form-group
            label(for="signinName") 用户名 
            input#signinName.form-control(name="username",type="text")
          .form-group
            label(for="signinPassword") 密码
            input#signinPassword.form-control(name="password",type="password")
          .alert.alert-block.alert-danger(style='display:none;')
        .modal-footer
          button.btn(type="button",data-dismiss="modal") 关闭
          button#signinbtn.btn.btn-primary(type="button") 登录






