/*定位锚点及链接*/
.categories{
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 0;
}
.panel-heading{
	position: relative;
}
.result-pagination{
	position: absolute;
	right: 20px;
	top: 0;
}
#user_setting #uploadAvatar{
	position: absolute;
	right: -50px;
	top: 2px;
}
#tab1  img.preview{
	width: 80px;
	height: 80px;
	border: 2px solid #999;
	position: relative;
	left: 20px;
}
#score{
	position: relative;
}
#scoreForm .btn-score{
	position: absolute;
	bottom: 5px;
	left: 100px;
	width: 100px;
}
.star{
	position: relative;
	left: 50px;
	top: -25px;
}
.star span{
	margin: 5px;
	display: inline-block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	cursor: pointer;
}
.bg{
	width: 100%;
	height: 100%;
	position: relative;
}
.bg404{
	position: absolute;
	left: 50%;
	width: 700px;
	height: 500px;
	margin-left: -350px;
}
.return{
	position: absolute;
	color: rgb(113,171,182);
	font-family: Arial;
	font-weight: bold;
	font-size: 30px;
	left: 50%;
	top: 400px;
	width: 120px;
	margin-left: -60px;
}
.movie-order{
	margin-left:30px;
}
.movie-order .thumbnail{
	width: 160px;
	height: 200px;
}
.order{
	width:100%;
}
div.red-point{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	right: 5px;
	top: 12px;
}